@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background-color: hsl(185, 41%, 84%);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.logo {
  padding-bottom: 40px;
  padding-top: 40px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
/* main {
  
} */
.container {
  width: 100%;
  /* max-width: 420px; */

  background-color: #fff;
  position: relative;
  max-width: 420px;
  min-width: 420px;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}

/* .calculator {
 
} */

label {
  color: hsl(186, 14%, 43%);
  font-size: 0.9rem;
  font-weight: 700;
}
.dollarSign {
  position: absolute;
  top: 59px;
  left: 60px;
  z-index: 1;
}
.billInput {
  background-color: hsl(189, 41%, 97%);
  border-color: transparent;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.billInput:focus,
.peopleNoInput:focus,
.custom:focus {
  outline-color: hsl(172, 67%, 45%);
}
.PercentageBtn {
  border-radius: 5px;
  border: transparent;
  width: 100%;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
}
.tipPercentage {
  display: grid;
  justify-content: space-between;
  gap: 10px;
  grid-template-columns: 50% 50%;
}
.custom {
  padding: 0;
  align-items: center;
  background-color: hsl(189, 41%, 97%);
  border: transparent;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.custom::placeholder {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.error {
  color: red;
  font-size: 0.8rem;
  text-align: right;
  position: absolute;
  top: 254px;
  right: 50px;
}
.personImg {
  position: absolute;
  top: 320px;
  left: 60px;
  z-index: 1;
}
.people {
  padding-top: 20px;
}
.peopleNoInput {
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  padding: 5px;
  border: transparent;
  border-radius: 5px;
}
.peopleNoInput::placeholder {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-size: 1rem;
  text-align: right;
}
.totalContainer {
  margin-top: 20px;
  border-radius: 10px;
  background-color: hsl(183, 100%, 15%);
  padding: 30px 20px 10px 20px;
  position: relative;
}

button:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}
.tip {
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  padding-top: 20px;
}
.total {
  padding-top: 20px;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  padding-bottom: 20px;
}
.tipAmount,
.totalAmount {
  position: absolute;
  top: 25px;
  right: 15px;
  color: hsl(172, 67%, 45%);
  font-size: 1.8rem;
  font-weight: 700;
}
.totalAmount {
  top: 82px;
}
span {
  display: block;
  font-size: 0.7rem;
  color: hsl(184, 14%, 56%);
}
.reset {
  background-color: hsl(183, 100%, 15%);
  border: transparent;
  width: 100%;
  padding: 5px 40px 5px 40px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.reset:hover {
  background-color: hsl(172, 67%, 45%);
}
input {
  text-align: right;
  color: hsl(183, 100%, 15%);
  opacity: 0.9;
  font-weight: 700;
}
button,
input {
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 992px) {
  .logo {
    padding-top: 0;
  }
  main {
    max-width: 720px;
    min-width: 720px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    padding: 20px 30px 20px 30px;
  }
  .calculate {
    width: 45%;
  }

  .dollarSign {
    top: 52px;
    left: 45px;
  }
  .error {
    right: 320px;
    top: 227px;
  }
  .personImg {
    top: 248px;
    left: 45px;
  }
  .peopleNo {
    font-size: 0.8rem;
  }
  .peopleNoInput {
    max-width: 500px;
  }
  .totalContainer {
    margin-top: 0;
    width: 50%;
  }
  .reset {
    margin-top: 80px;
  }
  .tipPercentage {
    grid-template-columns: 30% 30% 30%;
  }
  .custom::placeholder {
    font-size: 0.9rem;
  }
}
